@import '../../styles/breakpoints.scss';

.intro-container {
  overflow: hidden;
  padding-top: 22rem;
  padding-bottom: 22rem;

  @include media('<=1200px') {
    padding-bottom: calc(var(--gap-12) + var(--nav-height));
    padding-top: calc(var(--gap-12) + var(--nav-height));
  }
  @include media('<=800px') {
    padding-bottom: var(--gap-12);
  }

  .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;


    @include media('>=1540px') {
      max-width: 1520px;
    }
  }
}

.intro h1 {
  font-size: var(--h1);
  font-weight: 600;
}

.intro h3 {
  font-size: var(--h3);
}

.name-intro {
  color: var(--blueish);
  margin: 0 auto;
}

.name-intro-desc {
  margin: 0 auto;
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}