@import '../../styles/breakpoints.scss';

.about-me {
  color: black;
  padding: var(--gap-12) 5vw;
}

.about-me h1 {
  font-size: var(--h1);
  font-weight: 600;
  color: rgba(0, 136, 169, 1);
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  display: flex;

  @include media('>=1540px') {
    max-width: 1520px;
  }

  .about-section {
    padding-top: var(--gap-3);

    @include media ('<=1000px') {
      max-width: 100%;
      padding-bottom: var(--gap-6);
    }
  }
}

.bolden-p {
  padding: 10px 0;
  font-size: var(--h3)
}

.smaller-p {
  padding: 10px 0;
  font-size: var(--h4);
  margin-top: var(--gap-3);
}

.about-me p {
  line-height: 1.12;
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}
