@import '../../styles/breakpoints.scss';

.projects {
    background-color: rgb(247,248,251);
    padding: var(--gap-12) 0;
}

a, a:visited, a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

.navbar-pro {
	overflow: hidden;
	display: grid;
    place-items: center;
}

.heading {
    font-size: var(--h2);
    padding: 0 5vw;  
    font-weight: 600;
    color: #0088a9;
    text-transform: uppercase;

	clip-path: inset(100% 0% 0% 0%);
	transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
  
	&.is-reveal {
	  clip-path: inset(0% 0% 0% 0%);
	}
}

.note {
	padding-top: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    z-index: 100;
    
    .info {
        font-size: var(--h5);
        color: black;
        width: 60%;
        z-index: 100;
        margin-top: 10px;
		@include media('<=800px') {
			width: 100%;
		}
    }
    
    #icon {
        z-index: 100;
        font-size: var(--h3);
        transition: all 0.3s ease 0s;
        color: rgba(0,136,169,1);
        margin: 0 30px;

        @include media('<=800px') {
            margin: 20px 30px 0 0;
          }
    }
    
    #icon:hover {
        z-index: 100;
       color: rgba(0,136,169,0.8);
       transform: translate(0, -10px);
    }

    @include media('<=800px') {
        justify-content: center;
        flex-direction: column;
      }
}

.navbar-pro ul {
	width: 80%;
}

.navbar-pro ul li {
	border-bottom: solid black .05rem;
	position: relative;
	z-index: 100;
}

.navbar-pro ul li .link{
	padding: 4rem 0 2rem 0;
	z-index: 10;

	clip-path: inset(100% 0% 0% 0%);
	transition: clip-path 2s cubic-bezier(0.77, 0, 0.175, 1);
  
	&.is-reveal {
	  clip-path: inset(0% 0% 0% 0%);
	}
}

.navbar-pro ul li .link span {
	display: block;
	font-weight: 600;
	z-index: 100;
    color: black;
	display: inline-block;
	position: relative;
	font-size: var(--h3);
	text-transform: uppercase;
}
.navbar-pro ul li .link > img {
	mix-blend-mode: difference;
	z-index: 10;
}

.hover-reveal {
	position: relative;
	width: 600px;
	height: 300px;
	pointer-events: none;
	overflow: hidden;
	opacity: 1;
	transition: all .5s ease-out;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.hover-reveal img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	transition: transform .4s ease-out;
}


@media (max-width: 768px) {
	.navbar-pro ul {
		width: 95%;
	}
	.navbar-pro ul li a span {
		font-size: 2.5rem;
	}
	.navbar-pro ul li a > img {
		height: 18px;
	}
	.hover-reveal {
		width: 300px;
		height: 300px;
	}
}