@import "../../styles/breakpoints.scss";

.footer-wrapper {
  background-color: rgb(247, 248, 251);
  padding: var(--gap-12) 0;
  margin-top: var(--gap-6);
}

.cta {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw var(--gap-6);

  h2 {
    font-size: var(--h2);
  }

  .contact-button {
    a {
      transition: all 0.3s ease 0s;
      align-items: center;
      background-color: var(--black);
      border-radius: 10rem;
      color: var(--white);
      display: inline-flex;
      height: 15rem;
      justify-content: center;
      padding: 1rem;
      text-align: center;
      width: 15rem;
      font-size: var(--h5);
    }

    :hover {
      transform: rotate(-20deg);
      color: rgba(33, 211, 255, 0.8);
    }
  }
}

.footer-section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
  margin-top: 3%;
}

.footer-section p {
  color: rgb(228, 228, 228);
  font-size: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  list-style: none;
}

#icon-size {
  font-size: var(--h2);
  transition: all 0.3s ease 0s;
  color: rgba(0, 136, 169, 1);
  margin: 0 30px;

  @include media("<=800px") {
    margin: 10px 10px 0;
  }
}

#icon-size:hover {
  color: rgba(0, 136, 169, 0.8);
  transform: translate(0, -10px);
}

.bottom {
  border-top: 1px solid var(--border);
  color: var(--dark-gray);
  font-size: 1.6rem;
  padding-top: var(--gap-6);
  text-align: center;
}
